{% extends 'layout.html' %}

{% block content %}
<main id="login-page">
    <h1 id="login-register-header">{{title}}</h1>
    <div id="container-login">
            <form class="login-form" method="POST" action="{{ handler_url }}">
                 {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
                <div>
                    <div class="login">
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>

                    {% if form.username.errors or username_error_message is not none %}
                        <ul class="errors">
                            {% if username_error_message is not none %}
                                <li>
                                    {{ username_error_message }}
                                </li>
                            {% endif %}
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div>
                    <div class="login">
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>
                    {% if form.password.errors or password_error_message is not none %}
                        <ul class="errors">
                            {% if password_error_message is not none %}
                                <li>
                                    {{ password_error_message }}
                                </li>
                            {% endif %}
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div id="button">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}